$theme-color: #202C45;
$text-color: #363345;
$blue: #2D8EFF;
$light-bg: #EEE;
$light-text: #989696;

.course-page-left-nav {
    padding: 3vw;

    h2 {
        margin-top: 2vw;
        font-weight: 400;
        font-size: 1.7vw;
        color: $blue;

        span {
            color: $text-color;
        }
    }


    .opening-hours-list {
        h2 {
            padding: 1vw 0;
        }

        .timings {
            display: flex;
            justify-content: space-between;
            width: 17vw;
            padding: .5vw 0;
            color: #707070;
            border-bottom: 2px solid $light-bg;
            font-size: 1.05vw;

        }
    }

    .form-fields {
        display: flex;
        flex-direction: column;

        input,
        textarea {
            background-color: $light-bg;
            outline: none;
            border: none;
            padding: 1vw;
            width: 17vw;
            font-size: 1.1vw;
            margin: 1vw 0;
            resize: none;
        }

        button {
            width: 8vw;
            height: 2vw;
            border: none;
            outline: none;
            font-size: 1vw;
            color: #fff;
            background-color: $theme-color;
            cursor: pointer;
        }
    }

    @media screen and (max-width:"480px") {
        order: 3;
        padding: 3vw;

        h2 {
            margin-top: 2vw;
            font-size: 1.7rem;
        }


        .opening-hours-list {
            h2 {
                padding: 1rem 0;
            }

            .timings {
                width: unset;
                padding: .5rem 0;
                border-bottom: 2px solid $light-bg;
                font-size: 1.25rem;
            }
        }

        .form-fields {

            input,
            textarea {
                padding: 1rem;
                width: unset;
                font-size: 1.1rem;
                margin: 1rem 0;
                resize: none;
            }

            button {
                width: 50%;
                height: 2rem;
                font-size: 1rem;
            }
        }

    }
}