$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.video-card {
    background: #fff;
    position: relative;
    width: 19vw;

    img {
        width: 19vw;
    }

    div {
        padding: 1vw;

        h2 {
            font-weight: 400;
            font-size: 1.3vw;
            padding: .7vw 0;
        }

        p {
            font-size: 1.1vw;
            color: #9A9696;
        }
    }

    button {
        background: $theme-color;
        color: #fff;
        padding: .4vw .6vw;
        font-size: .8vw;
        margin: 1vw;
    }
    @media screen and (max-width:"480px") {
            width: unset;
            margin: 1rem 0;
        
            img {
                width: 88vw;
            }
        
            div {
        
                h2 {
                    font-size: 1.3rem;
                    padding: .7rem 0;
                }
        
                p {
                    font-size: 1.1rem;
                }
            }
        
            button {
                padding: .4rem .6rem;
                font-size: 1.1rem;
                margin: 1rem 1vw;
            }
        
    }
}