$blue: #2D8EFF;
$theme-color: #202C45;
$light-text: #AAA8A8;
$text: #646262;

.registration {
    margin-top: -.5vw;
    background: $theme-color;
    padding: 2vw 6vw;

    h1 {
        color: #fff;
        font-weight: 400;
        font-size: 2vw;

        span {
            color: $blue;
        }
    }

    form {
        color: $theme-color;
        padding: 1vw 0;
        display: flex;
        justify-content: space-between;

    }

    button,
    input,
    select {
        font-size: 1vw;
        padding: .7vw 1vw;
        width: 15vw;
        height: 3vw;
    }

    button {
        outline: none;
        border: none;
        border-left: .3vw solid $blue;
        &:hover {
            cursor: pointer;
        }
    }

    @media screen and (max-width:480px) {
        margin: -5px;
        padding: 2rem;
        h1 {
            font-size: 1.5rem;
        }

        form {
            flex-direction: column;
        }

        button,
        input,
        select {
            font-size: unset;
            padding: .7vw 1vw;
            width: unset;
            height: 2.7rem;
            margin: 2vw 0;
        }
    }
}